
* {
	padding: 0; margin: 0;
	background: none;
	border: none; outline: none;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

body {
	font-size: 12pt;
	font-family: Helvetica, Arial, sans-serif;
	background: #000;
	z-index: 1;
	min-width: 280px;
}

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

ul {
	list-style-type: none;
}

p {
	margin: 0 0 16pt 0;
	line-height: 16pt;
}

body.home #site-navigation {
	display: none;
}

textarea, input {
	border: 1pt solid #aaa;
	padding: 8px;
	font: inherit;
	transition: opacity 420ms;
}
	textarea:hover, textarea:active,
	input:hover,    input:active {
		border-color: #777;
	}
	textarea:focus,
	input:focus {
		border-color: #000;
	}

a, a:link, a:visited {
	color: #2175fB;
}
	a:active, a:hover {
		color: #4195fB;
	}

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

header#header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 72pt;
	background: #fff;
	z-index: 9000;
	overflow: hidden;
	/* border-bottom: 1px solid #CCC; */
}
	header#header hgroup {
		position: relative;
		/**position: absolute; left: 0; top: 0;
		width: 100%; height: 100%; **/
		height: 72pt;
		max-width: 800px;
		margin: 0 auto;
	}
	header#header h1 {
		font-size: 20pt;
		margin: 8pt 4pt 0 4pt;
		display: inline-block;
	}
		header#header h1 a,
		header#header h1 a:visited,
		header#header h1 a:link {
			background: #fff;
			color: #000;
			padding-top: 8pt;
			font-size: 56pt;
			transition: opacity 210ms;
		}
		header#header h1 a:active,
		header#header h1 a:hover {
			color: #fff;
			background: #000;
		}
	header#header h2 {
		font-size: 18pt;
		margin: 4pt;
		display: inline-block;
		color: #999;
	}

	header#header .links {
		position: absolute;
		right: 0; bottom: 16px;
	}
		header#header .links a,
		header#header .links a:link,
		header#header .links a:visited {
			background: #fff;
			display: block;
			color: #000;
			padding: 2px 4pt;
			min-width: 56pt;
			text-align: right;
			margin-top: 1px; margin-bottom: 1px;
			transition: background 210ms;
		}
			header#header .links a:hover,
			header#header .links a:active,
			header#header .current_page_item a:link,
			header#header .current_page_item a:visited {
				background: #000;
				color: #fff;
			}

header.entry-header {
	font-size: 18pt;
	text-align: left;
	margin: 0 12px 4pt 12px;
	color: #999;
}

@media screen and (max-width: 800px) {
	header#header {
		height: auto;
		position: static;
	}
	header#header hgroup {
		height: auto;
	}
		header#header h1 {
			float: left;
			margin-left: 8pt;
			color: #000;
		}
		header#header h2 {
			float: left;
			clear: both;
			color: #999;
			text-align: left;
			display: block;
			padding: 0 4px;
			margin-left: 8pt;
		}
	header#header .links {
		position: relative;
		right: auto; bottom: auto;
		margin-right: 12pt;
		margin-bottom: 8pt;
		float: right;
		text-align: left;
		clear: both;
	}
		header#header .links li {
			display: inline-block;
			width: auto;
			margin: 0 0 0 4pt;
		}
		header#header .links a,
		header#header .links a:link,
		header#header .links a:visited {
			/*color: #000;*/
			min-width: 0;
			text-align: right;
			margin-top: 2px;
			padding: 4px 8px;
		}
			header#header .links a:hover,
			header#header .links a:active {
				/*background: #000;
				color: #fff;*/
			}
}
/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

#page {
	padding-top: 72pt;
	background: #fff;
}

	#page #site-navigation {
		background: #fff;
	}
		#page #site-navigation ul {
			text-align: center;
		}
		#page #site-navigation ul li {
			display: inline-block;
			/*float: left;*/
			width: 26px;
			height: 40px;
			/*margin: 0 1px 0 0;*/
			position: relative;
		}
			#page #site-navigation ul li:nth-child(odd) {
				/*margin: 0;*/
			}
			/*#page #site-navigation ul li:first-of-type {
				margin-left: 4px;
			}*/
			#page #site-navigation ul li a {
				width: 100%;
				padding: 4pt 0;
				color: #666;
				line-height: 32px;
				font-size: 28px;
				/* background: #fff; */
				/*background: #f0f;*/
				display: inline-block;
			}
				#page #site-navigation ul li:nth-child(odd) a {
					/*background: #0ff;*/
				}
				#page #site-navigation ul li a:active,
				#page #site-navigation ul li a:hover {
					background: #000;
					color: #fff;
					font-weight: bold;
				}
			#page #site-navigation .current-menu-item a {
				color: #000;
				font-weight: bold;
			}

	#main {
		max-width: 800px;
		margin: 0 auto;
		padding: 24px 0 0 0;
	}

	.entry-content {
		max-width: 800px;
		padding: 0 12px;
		margin: 0 auto;
	}
	.entry-content img {
		margin-top: 8px;
		margin-bottom: 8px;
	}

@media screen and (max-width: 800px) and (min-width: 401px) {
	#page {
		padding-top: 0;
	}
	#page #site-navigation ul li {
		float: left;
	}
	#page #site-navigation ul li:nth-child(13) {
		clear: both;
	}
}
@media screen and (max-width: 400px) {
	#page {
		padding-top: 0;
	}
	#page #site-navigation ul li {
		float: none;
	}
}

/*@media screen and (min-width: 801px) {
	#page #site-navigation ul li:first-of-type {
		margin-left: 10px;
	}

}*/

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

.wp-caption {
	margin: 12px 24px;
	color: #444;
	background: #eee;
	border: 1px solid #000;
}
	.wp-caption img {
		margin: 5px;
	}
.wp-caption-text {
	padding: 0 5px;
}
	.wp-caption.alignleft { margin-left: 0; }
	.wp-caption.alignright { margin-right: 0; }

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

#menu-interior {
	padding: 0 12px;
	max-width: 800px;
	margin: 0 auto;
}

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */

footer {
	background: #000;
	color: #fff;
	padding: 8pt;
	clear: both;
}

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */


.clear-both { clear: both; }
.hide { display:none; }

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* -=- -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=-  -=- */
/* -=- HACK TO MAKE SURE IMAGES DON'T GET TOO WIDE ON NARROW SCREENS -=- */

img {
	max-width: 780px;
	height: auto;
}

@media screen and (max-width: 400px) {
	img {
		max-width: 280px;
		height: auto;
	}
}
@media screen and (max-width: 600px) and (min-width: 401px) {
	img {
		max-width: 424px;
		height: auto;
	}
}
@media screen and (max-width: 800px) and (min-width: 601px) {
	img {
		max-width: 564px;
		height: auto;
	}
}
