#main {
	max-width: none;
}


.letter-columns {
}

	.letter-columns .letter-group {
		height: 200px;
	}

		.letter-columns .letter-group .letter {
			width: 50%; height: 100%;
			float: left;
			background: #f0f;
			text-align: center;
			font-size: 144px;
			line-height: 224px;
			overflow: hidden;
			text-indent: -999em;

			background: #ffffff; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  #ffffff 0%, #aaaaaa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* IE10+ */
			background: linear-gradient(135deg,  #ffffff 0%,#aaaaaa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

		}
			.letter-columns .letter-group .letter:hover {
				text-indent: 0;
				color: #fff;
				background: #000;
			}


/* -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- */

@media screen and (max-width: 400px) {
	.letter-columns .letter-group .letter {
		width: 100%;
		float: none;
		display: block;
	}

}
