#main {
	max-width: none;
}


.letter-columns {
}

	.letter-columns .letter-group {
		height: 200px;
	}

		.letter-columns .letter-group .letter {
			width: 50%; height: 100%;
			float: left;
			background: #f0f;
			text-align: center;
			position: relative;

			line-height: 200px;

			overflow: hidden;

			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(-45deg,  #ffffff 0%, #aaaaaa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #ffffff 0%,#aaaaaa 100%); /* IE10+ */
			background: linear-gradient(135deg,  #ffffff 0%,#aaaaaa 100%); /* W3C */
		}
			.letter-columns .letter-group .letter:hover {
				text-indent: 0;
				color: #fff;
				background: #000;
			}
			.letter-columns .letter-group .letter img {
				position: absolute;
				top: 0; right: 0;
				z-index: 0;
				max-width: 1000px;
			}
				.letter-columns .letter-group .letter:nth-of-type(2) img {
					right: auto; left: 0;
				}
				.letter-columns .letter-group .letter:hover img {
					display: none;
				}
			.letter-columns .letter-group .letter span {
				display: none;
				font-size: 144px;
			}
				.letter-columns .letter-group .letter:hover span {
					display: inline
				}
			.letter-columns .letter-group .letter.portrait img {
				width: 100%; height: auto;
			}
			.letter-columns .letter-group .letter.landscape img {
				height: 100%; width: auto;
			}

.entry-content p {
	text-align: center;
}

/* -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- */

@media screen and (max-width: 400px) {

	.letter-columns .letter-group {
		height: 400px;
	}
	.letter-columns .letter-group .letter {
		width: 100%;
		height: 50%;
		float: none;
		display: block;
	}

}

/*
@media screen and (min-width: 900px) {
	.letter-columns .letter-group {
		height: 300px;
	}
		.letter-columns .letter-group .letter {
			line-height: 320px;
		}
} */